body {
    margin-left: 30px;
    margin-right: 30px;
}
h2 {
    text-align: center;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h5 {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
}