p {
    font-family : "Arial", sans-serif;
    font-size: 17px;
    background-color: rgb(245, 249, 129);
    color: rgb(12, 91, 0);
    text-align: end;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    border: 2px solid black;
    padding 20%;
    
}